extends layout

block content
  section.card
    h2 Login Admin

    form(method="POST", action="/auth/login")
      .field
        label(for="email") Email
        input(type="email", name="email", required)

      .field
        label(for="contra") Contraseña
        input(type="password", name="contra", required)

      button(type="submit") Entrar
