extends layout
block content
    h2 Login Admin
    form(method="POST")
        input(type="email" name="email" placeholder="Email")
        input(type="password" name="password" placeholder="Password")
        button Entrar
