extends layout

block content
  h1 Login Admin
  form(method="POST", action="/auth/login")
    label Email
    br
    input(type="email", name="email", required)
    br
    br
    label Contraseña
    br
    input(type="password", name="contra", required)
    br
    br
    button(type="submit") Entrar
