doctype html
html
  head
    title Login
  body
    h1 Login Admin
    form(method="POST" action="/auth/login")
      label Email
      input(type="email" name="email" required)
      br
      label Contraseña
      input(type="password" name="contra" required)
      br
      button(type="submit") Entrar
