extends layout

block content
  h2 Productos

  if productos.length === 0
    p No hay productos
  else
    table
      tr
        th Nombre
        th Precio
        th Acciones

      each p in productos
        tr
          td #{p.nombre}
          td $#{p.precio}
          td
            a.btn(href=`/productos/editar/${p._id}`) ✏️ Editar
            a.btn.delete(href=`/productos/delete/${p._id}`) ❌ Eliminar
