extends layout

block content
  h2 Agregar Producto

  form(method="POST", action="/productos/nuevo")
    .field
      label Nombre
      input(type="text", name="nombre", required)

    .field
      label Precio
      input(type="number", name="precio", required)

    .field
      label Stock
      input(type="number", name="stock", required)

    button(type="submit") Guardar producto
