doctype html
html
  head
    title Nuevo Producto
  body
    h1 Agregar Producto
    form(method="POST" action="/productos/nuevo")
      label Nombre
      input(type="text" name="nombre" required)
      br
      label Precio
      input(type="number" name="precio" required)
      br
      label Descripción
      textarea(name="descripcion")
      br
      button(type="submit") Guardar
