doctype html
html
  head
    title Productos
  body
    h1 Productos
    a(href="/productos/nuevo") Nuevo Producto
    ul
      each p in productos
        li= p.nombre + " - $" + p.precio + " " 
          a(href=`/productos/delete/${p._id}`) Borrar
