extends layout

block content
  h1 Agregar Producto

  form(method="POST", action="/productos/nuevo")
    label Nombre
    br
    input(type="text", name="nombre", required)
    br
    br

    label Precio
    br
    input(type="number", name="precio", required)
    br
    br

    label Stock
    br
    input(type="number", name="stock", required)
    br
    br

    button(type="submit") Guardar producto
