{{ define "content" }}
<h2>🛍️ Productos</h2>

<style>
  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
  }

  .producto {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
  }

  .producto:hover {
    transform: translateY(-5px);
  }

  .producto img {
    max-width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .precio {
    font-weight: 600;
    margin: 12px 0;
    font-size: 16px;
  }
  
  .btn-agregar {
  background: #374151; /* gris elegante */
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-agregar:hover {
  background: #4b5563;
}


  h3 {
    font-size: 18px;
    margin: 8px 0;
  }
</style>

<div class="productos">
  {{ range . }}
    <div class="producto">
      <img src="{{ .Imagen }}" alt="{{ .Nombre }}">
      <h3>{{ .Nombre }}</h3>
      <div class="precio">$ {{ precio .Precio }}</div>

      <form method="POST" action="/carrito/agregar">
        <input type="hidden" name="id" value="{{ .Id.Hex }}">
        <button type="submit" class="btn-agregar">Agregar 🛒</button>
      </form>
    </div>
  {{ end }}
</div>
{{ end }}
